{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container"> 
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
          
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}

      <!-- Registration form -->
      {{wtf.quick_form(registration_form)}}
      <a href="{{url_for('auth.register')}}"></a>
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>

{% endblock%}