
{% macro displayPitches(pitches_list) %}

{% for pitch in pitches_list %}
  <div class="panel style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px; text-align:center;">
      <p>{{pitch.pitch}}</p>
      <br>
      <a href="{{url_for('main.new_comment',id=pitch.id)}}">Add a Comment</a>
      <a href="{{url_for('main.view_comments',id=pitch.id)}}">View Comments</a>
      <a href="{{url_for('main.new_comment',id=pitch.id)}}">Vote</a>
  </div> 
{% endfor %}

{% endmacro %}

{% macro displayPitchesInCategories(pitches,id)%}
{% for pitch in pitches %}
{% if pitch.category_id==id%}
    <div class="panel style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px;">
        <p>{{pitch.pitch}}</p>
        <a href="{{url_for('main.new_comment',id=pitch.id)}}">Add a Comment</a>
        <a href="{{url_for('main.view_comments',id=pitch.id)}}">View Comments</a>
        <a href="{{url_for('main.new_comment',id=pitch.id)}}">Vote</a>
    </div>
{% endif%}
{% endfor %}
{% endmacro%}